$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

$darkBg: #740000;

* {
  box-sizing: border-box;
}

html {
  font-size: 9px;
}

body {
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  position: relative;
  color: white;
  overflow: hidden;
  background-color: $darkBg;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

h3 {
  margin: 0;
  font-size: 1.5em;
}

.container {
}

#player-wrapper {
  background: #391c1e linear-gradient(45deg, rgba(255, 0, 7, 0.5) 10%, rgba(116, 0, 0, 0.7)) no-repeat;
  height: 70px;
  position: absolute;
  display: flex;
  width: 100%;
  #player {
    display: inline-flex;
    height: 100%;
    width: 88%;
    position: relative;
    .btn-pause-play {
      width: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 5rem;
      color: white;
      height: 100%;
      cursor: pointer;
      background-color: $darkBg;
    }
    .song-info {
      user-select: none;
      position: relative;
      flex: 4;
      padding: 5px;
      .requested {
        position: absolute;
        bottom: 2px;
      }
      #events-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        .drag {
          -webkit-app-region: drag;
          width: 50%;
          height: 100%;
          cursor: pointer;
        }
        .mouse {
          width: 50%;
          height: 100%;
          cursor: default;
        }
      }
    }
    .player-volume {
      position: absolute;
      bottom: 3px;
      right: 5px;
      color: white;
      font-size: 13px;
      user-select: none;
      cursor: default;
    }
  }
}

.settings {
  width: 12%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $darkBg;
  align-items: center;
  .settings-top {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    .fa {
      font-size: 2.5rem;
      cursor: pointer;
    }
  }
}

.channel-switch {
  display: flex;
  flex: 1;
  width: 100%;
  background-color: #4b0f10;
  color: white;
  font-weight: bold;
  font-size: 21px;
  span {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    &.active {
      background-color: #9e0000;
      cursor: default;
    }
  }
}
