$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

$darkBg: #740000;

* {
  box-sizing: border-box;
}

html{
  font-size: 9px;
}

body {
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  position: relative;
  color: white;
  background: #391c1e linear-gradient(45deg, rgba(255, 0, 7, 0.5) 10%, rgba(116, 0, 0, 0.7)) no-repeat;
  overflow-y: hidden;
  height: 70px;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

h3 {
  margin: 0;
  font-size: 1.5em;
}

.container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}

.player {
  display: inline-flex;
  height: 100%;
  width: 90%;
  .btn-pause-play {
    -webkit-app-region: no-drag;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: white;
    height: 100%;
    cursor: pointer;
    background-color: $darkBg;
  }
  .song-info {
    -webkit-app-region: drag;
    flex: 4;
    padding: 5px;
    .requested {
      position: absolute;
      bottom: 0;
      background-color: $darkBg;
      //width: 100%;
      height: 2.7rem;
      text-align: center;
      #title {
        margin-top: 4px;
      }
    }
  }
}

.settings {
  -webkit-app-region: no-drag;
  width: 10%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  background-color: $darkBg;
  align-items: center;
  justify-content: space-around;
  .fa {
    font-size: 2.5rem;
    cursor: pointer;
  }
}

.channel-switch {
  height: 30px;
  width: 30px;
  font-size: 24px;
  background: #391c1e;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}
