input,
button {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-size: 13px;
}

input:focus {
  outline: 0;
}

input {
  box-sizing: content-box;
}
